<div class="header">
  <h1 class="title">Accent辞典</h1>
  <ul class="header-lists">
    <li class="header-list">
      ログイン
    </li>
    <li class="header-list">
      新規登録
    </li>
  <!-- ログイン時で表示を変える
    <li class="header-list">
      ユーザーネーム
    </li>
    <li class="header-list">
      ログアウト
    </li>
    -->
  </ul>
</div>